<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AplikasiSembakoPABD.Properties.Settings.sembakoConnectionString"
            connectionString="Data Source=MSI\MSSQLSERVER02;Initial Catalog=sembako;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />
        <add name="AplikasiSembakoPABD.Properties.Settings.datapenjualanConnectionString"
            connectionString="Data Source=MSI\MSSQLSERVER02;Initial Catalog=datapenjualan;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>